<!-- this page will create a new post form -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>new post form</title>
    <link rel="stylesheet" href="/newpost.css">
</head>
<body>
    <h1>NEW POST FORM</h1>
    <form action="/posts" method="post">
        <input type="text" name="username" placeholder="enter username"> 
        <textarea name="content" placeholder="enter content" id=""></textarea>
        <button>Submit Post</button>
    </form>
</body>
</html>