<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>message form</title>
</head>
<body>
    <h1>new message form</h1>
    <form action="/chats" method="post">
        <div class="msg">
            <input type="text" name="from" placeholder="senders name">
            <input type="text" name="to" placeholder="recivers name" >
            <textarea name="msg" id="" placeholder="enter message here"></textarea>
            <button>Send Message</button>
        </div>
    </form>
</body>
</html>