<!-- we created a includes folder inside the views folder to make our sub templates -->
 <!-- its use
 like for eg.
 suppose we dont want to write aor head html code in the instapages file and create its subtemplate 
 so we write the head code here as a sub template
 -->

  <!DOCTYPE html>
 <html lang="en">
 <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>insta_page</title>
 </head>