<!--  -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>roll dice</title>
</head>
<body>
    <h1>roll dice page</h1>
    <h3>u got <%= Math.floor(Math.random()*6 + 1) %></h3>  <!-- generally hum pe jo data aata h wo aase nhi likha hota iss file m  --> 
    <!-- generally jo data aata h wo data base se aata h soo ab hum uss ko likh ne ka tari ka dekh ne wale h -->
     <p> we doing like we do in data base</p>
     <h3>u got <%= dataval %></h3>  
     <!-- here we directly used the dataval variables here  -->
      <!-- num ek argument tha and we used it gere -->
</body>
</html>